<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>FTP</WebPublishMethod>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>b67a5757-bce2-4d52-b7bf-272621997970</ProjectGuid>
    <publishUrl>66.165.248.146</publishUrl>
    <DeleteExistingFiles>false</DeleteExistingFiles>
    <FtpPassiveMode>true</FtpPassiveMode>
    <FtpSitePath />
    <UserName>AzeznFTP</UserName>
    <_SavePWD>true</_SavePWD>
    <_TargetId>FTP</_TargetId>
  </PropertyGroup>
</Project>